<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lucaskawakami.kap-download</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/lucaskawakami/bin/download-kap.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/lucaskawakami</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/lucaskawakami</string>
    <key>PATH</key>
    <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>KAP_OUTPUT_DIR</key>
    <string>/Users/lucaskawakami/KAP</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <dict>
      <key>Minute</key>
      <integer>15</integer>
    </dict>
    <dict>
      <key>Minute</key>
      <integer>30</integer>
    </dict>
    <dict>
      <key>Minute</key>
      <integer>45</integer>
    </dict>
  </array>

  <key>StandardOutPath</key>
  <string>/Users/lucaskawakami/KAP/logs/kap-download.out.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/lucaskawakami/KAP/logs/kap-download.err.log</string>
</dict>
</plist>
